/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Lista de valores (value list)
 *
 *   Cor dos títulos (header color)    = #006000  
 *   Cor do texto (text color)         = #e6e6e6 
 *   Cor de madeira (wood color)(icon) = #ecd7a0
 *   Cor de fundo = lightblue          = #add8e6
 *   Cor de link #hover = lightcyan    = #e0ffff
 *   
 *   [ ANTIGOS ]
 *   Cor de fundo (background color)   = #99d9ea
 *   
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* TODO
 *
 * Remover fundo do cabeçalho (passo a utilizar CSS para defini-la)
 * Terminar a página do tutorial
 * Design responsive
 * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Global
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@charset "utf-8";

body {
    font-family: Arial, Helvetica, Sans-serif;
    background-color: white;
    margin: 20px;
    /* width: 640px; */
    font-size: 16pt;
}

.danger {
    background-color: pink;
    color: darkred;
}

/* Cabeçalho do site (letras grandes, Eng.Nabao) */
#banner {
    background-color: lightblue;
    color: #006000;
    /*
    position: fixed;
    top: 0px;
    */
    width: 100%;
}

#banner a {
    text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Textos
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

p {
    color: black;
    margin: 16px;
    text-align: justify;
    /* font-size: 16pt; */
}

h1, h2, h3 {
    font-family: "Berlin Sans FB Demi", Arial, Helvetica, Sans-serif;
    color: #006000;
    font-weight: bold;
    margin: 8px;
}

h1 {
    font-size: 40pt;
    /* margin: 8px; */
    /* padding: 16px; */
}

h2 {
    font-size: 32pt;
    /* margin: 8px; */
    /* padding: 16px; */
}

/* Exemplos de código */
pre, code {
    background-color: lightgray;
    color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tabelas de dados
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 16px;
    border: 1px solid black;
}

th {
    background-color: lightblue;
    color: #006000;
    text-align: left;
}

tr {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

td, th {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Formulários
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

form {
    margin: 16px;
}

/* Botões e texto de exemplo */
/* Visto que ainda há pouco suporte, pode ser necessário mudar isto */
/* A alternativa é pseudo-seletor `:placeholder-shown`
input[type='input']::placeholder {
    font-size: 16pt;
}
/**/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Menu e ligações de navegação
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.menu {
    width: 100%;
}

/* Formatação das âncoras */
a.menuItem {
    /* Retirar sublinhado e cor dos links */
    text-decoration: none;
    color: inherit;
}

a.menuItem:hover {
    background-color: lightcyan;
}

.menuItem {
    /*font-family: Arial, Helvetica, Sans-serif;*/
    background-color: lightblue;
    display: block;
    border: solid 2px #e6e6e6;
    border-radius: 16px;
    margin: 20px;
    /* width: 100%; */
}

.menuItem > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuItem div div {
    display: inline-block;
}

.menuItem h2 {
    font-family: "Berlin Sans FB Demi", Arial, Helvetica, Sans-serif;
    font-size: 32pt;
    font-weight: bold;
    margin: 8px;
    color: #006000;
    padding: 16px;
}

.menuItem p {
    margin: 8px;
    /*color: #e6e6e6;*/
    /* font-size: 16pt; */
    color: #006000;
    padding: 16px;
}

.menuItem img {
    margin: 8px;
    /*display: inline-block;*/
    width: 64px;
    height: 64px;
    padding: 16px;
}
