/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Lista de valores (value list)
 *
 *   Cor dos títulos (header color)    = #006000  
 *   Cor de margens arredondadas       = #e6e6e6 
 *   Cor de madeira (wood color)(icon) = #ecd7a0
 *   Cor de fundo = lightblue          = #add8e6
 *   Cor de link :hover = lightcyan    = #e0ffff
 *   
 *   [ ANTIGOS ]
 *   Cor de fundo (background color)   = #99d9ea
 *   
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* TODO
 *
 * Terminar a página do tutorial (dividi-la em 2 ou 3 pág)
 * Design responsive
 * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Global
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@charset "utf-8";

body {
    font-family: Tahoma, Helvetica, Sans-serif;
    background-color: white;
    margin: 20px;
    /* width: 640px; */
    font-size: 24pt;
}

.danger {
    font-weight: inherit;
    background-color: pink;
    color: darkred;
}

/* Cabeçalho do site (letras grandes, Eng.Nabao) */
#banner {
    background-color: lightblue;
    color: #006000;
    /*
    position: sticky;
    top: 0px;
    */
    width: 100%;
}

#banner a {
    text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Textos
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

p, li, h1, h2, h3, pre, img {
    margin: 16px;
}

p, li {
    color: black;
    text-align: justify;
    /* Evitar par. demasiado largo, para facilitar leitura */
    max-width: 45em;
    /* font-size: 1em; */
}

h1, h2, h3 {
    font-family: /*"Berlin Sans FB",*/ Tahoma, Helvetica, Sans-serif;
    color: #006000;
    font-weight: bold; /*Berlin Sans FB Demi = 600*/
    margin-top: 48px;
}

h1 {
    font-size: 2em;
    /* margin: 8px; */
    border-top: 1px solid #006000;
    padding-top: 12px;
}

h2 {
    font-size: 1.5em;
    /* margin: 8px; */
    /* padding: 16px; */
}

/* Exemplos de código */
pre {
    padding: 16px;
    border-left: 12px solid gray ;
    max-width: 50em;
    overflow-x: scroll;
}

pre, code {
    background-color: lightgray;
    color: black;
}

/*
 Telemóveis reduzem texto <pre> em modo retrato ?!?!?*

@media only screen and (orientation: portrait) {
    
    body {
        font-size: 24pt;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.1em;
    }

}
/* */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tabelas de dados
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 16px;
    border: 1px solid black;
}

th {
    background-color: lightblue;
    color: #006000;
    text-align: left;
}

tr {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

td, th {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Formulários
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

form {
    margin: 16px;
}

/* Botões e texto de exemplo */
/* Visto que não é standard, pode ser necessário mudar isto */
/* A alternativa é pseudo-classe `:placeholder-shown`*/
/*
input[type='input']::placeholder {
    font-size: 16pt;
}
*/
input, button {
    font-size: 1em;
}

body > button {
    margin-left: 16px;
}

/* Custom checkboxes */
input[type='checkbox'], input[type='radio'] {
    visibility: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
}

.checkmark {
    /*content: '\2717'; /* Uma cruz : NOTA: content só funciona em pseudo-el :after e :before*/
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    border: 2px solid #a1a1a1;
    background-color: #e6e6e6;
    text-align: center;
    width: 1em;
    height: 1em;
}

input[type='checkbox']:checked + .checkmark {
    color: black;
}

input[type='checkbox']:not(:checked) + .checkmark {
    color: #e6e6e6;
}

/*, input[type='radio']:after *

input[type='checkbox']:after {
    position: relative;
    top: -0.5em;
    left: -0.2em;
    border: 2px solid #a1a1a1;
    background-color: #e6e6e6;
    border-radius: 4px;
    width: 2em;
    height: 2em;
    content: '\2717'; /* Uma cruz *
    visibility: visible;
}

input[type='checkbox']:checked:after {
    color: black;
}

input[type='checkbox']:not(:checked):after {
    color: #e6e6e6;
}
*/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Menu e ligações de navegação
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.menu {
    width: 100%;
}

/* Formatação das liagações (âncoras) */
a.menuItem {
    /* Retirar sublinhado e cor dos links */
    text-decoration: none;
    color: inherit;
}

/* Formatação quando rato está sobre ligação */
a.menuItem:hover {
    background-color: lightcyan;
}

.menuItem {
    /*font-family: Tahoma, Helvetica, Sans-serif;*/
    background-color: lightblue;
    display: block;
    border: solid 2px #e6e6e6;
    border-radius: 16px;
    margin: 20px;
    /* width: 100%; */
}

.menuItem > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuItem div div {
    display: inline-block;
}

.menuItem h2 {
    font-family: /*"Berlin Sans FB Demi",*/ Tahoma, Helvetica, Sans-serif;
    /* font-size: 2em; */
    font-weight: bold; /*FB demi.weight = 600*/
    margin: 8px;
    color: #006000;
    padding: 8px 16px 8px 16px;
}

.menuItem p {
    margin: 8px;
    /*color: #e6e6e6;*/
    /* font-size: 1em; */
    color: #006000;
    padding: 8px 16px 8px 16px;
}

.menuItem img {
    margin: 8px;
    /*display: inline-block;*/
    width: 64px;
    height: 64px;
    padding: 16px;
}
